<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout :: head}">
    <title id="title">Subscriptions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body th:insert="~{layout :: body}">
    <div id="main">
        <table class="table">
            <thead>
                <th scope="col">Topic</th>
                <th scope="col"></th>
            </thead>
            <tbody>
                {% for topic in advertisementTopics %}
                <tr>
                    <td scope="row">{{ topic }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('advertisement', topic=topic) }}">View</a>
                    </td>
                </tr>
                {% endfor %}
                {% for topic in subscriptionTopics %}
                <tr>
                    <td scope="row">{{ topic }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('subscription', topic=topic) }}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
