attr==0.3.2
attrs==23.1.0
beautifulsoup4==4.12.2
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cryptography==41.0.4
Flask==2.3.3
Flask-SocketIO==5.3.5
google==3.0.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
paho-mqtt==1.6.1
protobuf==4.24.2
pycparser==2.21
pyOpenSSL==23.2.0
python-engineio==4.6.1
python-socketio==5.8.0
requests==2.31.0
soupsieve==2.4.1
urllib3==2.0.4
Werkzeug==2.3.7
zipp==3.16.2
gunicorn==21.2.0
eventlet==0.33.3
