name: RunChecks

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get -y install python3-apt openjdk-11-jre-headless
          python -m pip install --upgrade pip
          pip install -r gateway/requirements.txt
          pip install pylint
      - name: Analysing gateway with pylint
        run: |
          cd gateway
          find . -type f -name \*.py -print | egrep -v '(proto|silabs)'| xargs pylint -dC0103,E1101,E0401,E1136,W0703,R0801,R0902,R0903,R0913,R0912,R0914
      - name: Gateway tests
        run: |
          cd gateway
          pytest
      - name: Analysing python sample app with pylint
        run: |
          cd python-sdk/sample-python-app
          find . -type f -name \*.py -print | egrep -v '(proto|silabs)'| xargs pylint -dC0103,E1101,E0401,E1136,W0703,R0801,R0902,R0903,R0913,R0912,R0914
      - name: Analysing python SDK with pylint
        run: |
          cd python-sdk/tiedie
          find . -type f -name \*.py -print | egrep -v '(proto|silabs)'| xargs pylint -dC0103,E1101,E0401,E1136,W0703,R0801,R0902,R0903,R0913,R0912,R0914
      - name: Attempting python install
        run: |
          cd python-sdk
          pip install .
          echo 'import tiedie' | python
      - name: Python SDK tests and coverage
        run: |
          cd python-sdk
          pip install -e .[test]
          cd tiedie
          pytest --junitxml=junit/test-results.xml --cov=tiedie --cov-report=xml --cov-report=html
      - name: Java test
        run: |
          cd java-sdk/sdk
          ./gradlew test
